%section#intro
  %p== Below is a list of albums #{@user} has listened to in full in the last week.
  %ul
    %li
      %a{:href => "http://www.last.fm/user#{@user}"}== #{@user}'s Last.fm profile
    %li
      %a{:href => @rss}RSS feed

%section#albums
  - @albums.each do |album|
    %article.album
      %img{:src => album[:image_url], :width => '348', :height => '348', :alt => "#{album[:title]} cover artwork", :class => 'album_art'}
      %h2
        = album[:artist]
        %br
        = album[:title]
      %ul
        %li== Tracks: #{album[:track_count]}
        %li== Tracks played: #{album[:play_count]}
        %li
          %a{:href => album[:url]}View album page on Last.fm