%section#intro
  %p== Below is a list of albums #{@user} has been listening to in the last week.
  %ul
    %li
      %a{:href => "http://www.last.fm/user#{@user}"}== #{@user}'s Last.fm profile
    %li
      %a{:href => @rss}RSS feed

%section#albums
  - if @albums.count > 0
    - @albums.each do |album|
      %article.album
        %img{:src => album[:image_url], :width => '348', :height => '348', :alt => "#{album[:title]} cover artwork", :class => 'album_art'}
        .text
          %h2
            = album[:artist]
            %br
            = album[:title]
          %p
            %a{:href => album[:url]}View album page on Last.fm
  - else
    %p.none
      %strong== #{@user} didn't listen to any albums! More of the 'shuffle' type I guess.